<!DOCTYPE HTML>
<html>
	<head>
		<title>SS | Details</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='ss.png') }}">
		<style>
			.topnav {
			    background-color: #EBCDFF;
			    overflow: hidden;
			    position: fixed;
			    width:100%;
			}

			/* Style the links inside the navigation bar */
			.topnav a {
			    float: right;
			    display: block;
			    color: black;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    font-size: 17px;
			}

			/* Change the color of links on hover */
			.topnav a:hover {
			    background-color: #ddd;
			    color: black;
			}

			/* Add a color to the active/current link */
			.topnav a.active {
			    background-color: #4CAF50;
			    color: white;
			}
		</style>
		</head>
	<body>
		<div class="topnav" id="myTopnav">
		  <img src="{{ url_for('static',filename='ss.png') }}" alt='logo' style='float:left;height: 65px;margin-left: 30px'>
		  <a href="/logout">Log Out</a>
		  <a href="/recommend">Recommend</a>
		  <a href="/detail">Details</a>
		</div>
		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Enter you weekly snack details</a></h2><hr>
					    <form onsubmit="return false;">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="monday" placeholder="Monaday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="tuesday" placeholder="Tuesday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="wednesday" placeholder="Wednesday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="thursday" placeholder="Thursday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="friday" placeholder="Friday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="saturday" placeholder="Saturday" type="text">
								</div>
 							</div>
 							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id="sunday" placeholder="Sunday" type="text">
								</div>
 							</div>
 							<ul class="actions">
 								<li><button class="button special" id='btn'>Submit</button></li>
 							</ul>
 						</form>
					</section>
					<section>
						<p>Enter the Snacks You Prefer on the respective week days , So that we can track your habits</p>
						<ul class="actions">
							<li><a href="/" class="button special">Back to Home</a></li>
						</ul>
						<p id="viewer"></p>
					</section>
				</div>
			</section>

		
	
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Rishab Sharma. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
			<script type="text/javascript">
				$('#btn').click(
					function(){

					var monday = $('#monday').val();
					var tuesday = $('#tuesday').val();
					var wednesday = $('#wednesday').val();
					var thursday = $('#thursday').val();
					var friday = $('#friday').val();
					var saturday = $('#saturday').val();
					var sunday = $('#sunday').val();

						$.ajax({
      					    method: "POST",
							url : "http://0.0.0.0:5000/habits",
							xhrFields: {
								withredentials: true
							},
							data: JSON.stringify(
							{
								"type":"POST",
								"monday": monday,
								"tuesday": tuesday,
								"wednesday": wednesday,
								"thursday": thursday,
								"friday": friday,
								"saturday": saturday,
								"sunday": sunday,
							}),
							contentType:"application/json"
						}).done(function(){
							alert('Details Submitted');
							$('#viewer').html(monday + "<br>" + tuesday + "<br>" + wednesday + "<br>" + thursday + "<br>" + friday + "<br>" + saturday + "<br>" + sunday );
						}).fail(function(xhr){
							console.log('Failure');
							alert("Request Failed  , Check your entry");
						})
					});
					
			</script>

	</body>
</html>


















