<!DOCTYPE HTML>
<html>
	<head>
		<title>Snack Search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='ss.png') }}">
		</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Welcome to Snack Search</a></h2>
					</section>
					<section>
						<p>An Machine Learning Driven App for snack recommendation based upon your habits and Location</p>
						<ul class="actions">
							<li><a href="/detail" class="button special">Know More</a></li>
						</ul>
					</section>
				</div>
			</section>

		
		<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Register Here</h2>
						<p>Please Enter your Details to complete the Registration</p>
						<form onsubmit="return false;">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id = 'reg_email' name="email" placeholder="Email" type="text">
								</div>
								<div class="6u 12u$(xsmall)">
									<input id = 'reg_name' name="name" placeholder="Username" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input id = 'reg_pass' name="password" placeholder="Password" type="text">
								</div>
 							</div>
 							<ul class="actions">
 								<li><button class="button special" id='btn-register'>Register</button></li>
 							</ul>
 						</form>
					</section>
					<section>
						<h2>Log In</h2>
						<p>Please Enter your Details to login</p>
						<form onsubmit="return false;">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input id = 'login_email' name="name" placeholder="Email" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input id = 'login_pass' name="password" placeholder="password" type="text">
								</div>
 							</div>
 							<ul class="actions">
 								<li><button class="button special" id='btn-login'>Login</button></li>
 							</ul>
 						</form>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Rishab Sharma. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
			<script type="text/javascript">
				$('#btn-register').click(
					function(){
						email = $('#reg_email').val();
						password = $('#reg_pass').val();
						u_name = $('#reg_name').val();
						$.ajax({
      					    method: "POST",
							url : "http://0.0.0.0:5000/register",
							xhrFields: {
								withredentials: true
							},
							data: JSON.stringify(
							{
								"type":"POST",
								"email": email,
								"password": password,
								"u_name":u_name 

							}),
							contentType:"application/json"
						}).done(function(){
							alert('User Created');
							window.location.href = "/detail";
						}).fail(function(xhr){
							console.log('Failure');
							alert("Request Failed  , Check your entry");
						})
					});
				$('#btn-login').click(
					function(){
						email = $('#login_email').val();
						password = $('#login_pass').val();
						$.ajax({
      					    method: "POST",
							url : "http://0.0.0.0:5000/login",
							xhrFields: {
								withredentials: true
							},
							data: JSON.stringify(
							{
								"type":"POST",
								"email": email,
								"password": password
							}),
							contentType:"application/json"
						}).done(function(){
							window.location.href = "/detail";
						}).fail(function(xhr){
							console.log('Failure');
							alert("User Doesn't Exists");
						})
					});
			</script>

	</body>
</html>




















